/* style page content */
body {
  margin-left: 50px;
  background-color: white;
}

/* style header text */
h1 {
color: rgb(46, 189, 89);
font-weight: normal;
}

/* style site text */
h5 {
  color: rgb(145, 148, 150);
  font-weight: normal
}

/* style the button */
#moodify {
  background-color: rgb(46, 189, 89);
  color: white;
  padding: 10px 30px;
  border-radius: 32px;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border: none;
  font-size: .90em;
}

/* lighten the button on mouse hover */
#moodify:hover {
  background-color: rgb(30, 215, 96);
}

/* remove blue border around button */
#moodify:focus {
  outline: 0;
}

/* style text input fields */
input[type="text"], textarea {
  border-style: 1px ;
  padding: 5px 0px 5px 0px;
  width: 200px;
}

/* style labels for text input fields */
label {
  font-weight: normal;
}

.overlay {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:#000;
    opacity:0.8;
    z-index:1001;
}
.overlay-message{
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    margin: auto;
    width:600px;
    height:500px;
    background-color:rgb(51, 51, 51);
    opacity:0.8;
    z-index:1002;
}

.overlay-text{
  text-align: right;
  margin-right: 10px;
  margin-top: 5px;
  color: white;
}

#spotify {
  margin: auto;
  width: 50%;
  color: white;
}

#slideshow {
  margin: 80px auto;
  position: relative;
  width: 240px;
  height: 240px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#carousel-example-generic {
  margin: auto;
  padding: 10px;
  width: 100%;
}

img {
  max-height: 500px;
  margin: auto;
  width: 70%;
}
